$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

$primary: #0e0b16;
$secondary-pink: #a239ca;
$secondary-purple: #4717f6;
$tertiary: #e7dfdd;
