// CONTAINER
.relative {
  position: relative;
}

.container-primary {
  width: 100%;
  height: auto;

  background-color: $primary;

  &__hero {
    width: 100%;
    max-width: 1256px;

    height: auto;
    @include flex(row, center, space-between);

    padding: 150px 16px;
    margin: 0 auto;
  }
}

.container-secondary {
  width: 100%;
  height: auto;

  background-color: $tertiary;
  color: $primary;

  &__person {
    height: auto;
    width: 100%;
    max-width: 1256px;

    padding: 0px 16px;
    margin: 0 auto;
  }
}

.container-item {
  &__text {
    width: 100%;
    max-width: 350px;
  }
  // flex-grow: 2;

  // margin: 40px 0px;
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: -1;

  overflow: hidden;
  @include flex(row, center, center);
}

.svg-hero {
  @include responsive(1200px) {
    transform: scale(1.5) rotate(25deg);
  }

  @include responsive(960px) {
    transform: scale(2) rotate(25deg);
  }
}

.icon-square {
  @include flex(row, flex-end, center);
}

.home__blob {
  width: 600px;
  overflow: hidden;
}

.home__blob-img {
  width: 230px;
}

// PERSON

.person {
  @include flex(row, center, space-between);

  &__content {
    width: 45%;

    // h2 {
    //   text-align: center;
    // }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 730px;

    &--svg {
      position: absolute;
      top: -330px;
      left: 60px;

      height: auto;
      width: 100%;
    }
  }
}

.work {
  @include flex(row, center, space-between);

  &__content {
    width: 45%;
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 700px;

    &--svg {
      width: 100%;
      height: auto;

      position: absolute;
      top: -250px;
      left: -150px;
    }
  }
}

// SKILLS
.skills {
  @include flex(column, center, space-between);

  &__cards {
    width: 100%;
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    &:nth-child(2) {
      border-bottom: 1px solid rgba($primary, 0.2);
    }

    &--itens {
      width: 30%;
      text-align: center;

      @include flex(row, center, center);
    }
  }
}

// SELECTED WORKS

.bb-gray {
  width: 100%;
  border-bottom: 1px solid $black-light;
}

.list-item {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 16px 24px;
  position: relative;

  @include flex(row, center, flex-start);

  a {
    &:hover {
      & + .img-project {
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
      }
    }
  }
}

.img-project {
  max-width: 720px;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: 1s ease;

  transform: translate(-50%, -50%) translate3d(-1000px, 0, 0);
}

.get {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 24px;
}

// EXPERIENCE

.experience {
  &__title {
    text-align: center;
    h6 {
      color: $black-light;
    }
  }

  &__content {
    width: 100%;
    @include flex(row, flex-start, space-between);

    &--column {
      width: 100%;
      max-width: 450px;
      height: auto;
    }

    &--item {
      padding: 24px 48px;

      color: $tertiary;
      background-color: rgba($secondary-purple, 0.9);

      border-radius: 8px;
    }

    &--legend {
      h5 {
        color: $primary;
      }
      h6 {
        color: $black-light;
      }
    }
  }
}

// FOOTER

.container-footer {
  height: auto;
  width: 100%;
  max-width: 1256px;

  padding: 0px 16px;
  margin: 0 auto;

  @include flex(column, center, space-between);
}
