* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: $primary;
  color: $tertiary;
}

a {
  color: $tertiary;
}
